# Project 2: Ames Housing Data - Kaggle Submission

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from numpy.polynomial.polynomial import polyfit
from scipy import stats
import statsmodels.api as sm
import string
from sklearn.linear_model import Ridge, Lasso, ElasticNet, LinearRegression, RidgeCV, LassoCV, ElasticNetCV
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, median_absolute_error
from sklearn.feature_selection import VarianceThreshold
from statistics import mode
import string

np.random.seed(3_0_0)

DO = '#7D1B7E'
%config InlineBackend.figure_format = 'retina'
%matplotlib inline

plt.style.use('fivethirtyeight')

In [2]:
train_dummies = pd.read_csv('../datasets/train_dummies.csv', keep_default_na=False)

I will utilize the lasso model with a threshold of 0.01 as my production model.

### Lasso Model

In [3]:
X = train_dummies.drop(columns = 'SalePrice', axis = 1)
y = train_dummies['SalePrice']

X_train, X_test, y_train, y_test = train_test_split(X,y, random_state= 42, train_size = 0.7);

threshold = VarianceThreshold(.01)

X_train_thresh = threshold.fit_transform(X_train)
X_test_thresh = threshold.transform(X_test)

ss = StandardScaler()
X_train_sc = ss.fit_transform(X_train_thresh)
X_test_sc = ss.transform(X_test_thresh)
predictor_variables = X.columns[threshold.get_support()]

lasso_cv = LassoCV(cv = 10)
lasso_cv.fit(X_train_sc, y_train)
   
y_hat_lasso = lasso_cv.predict(X_test_sc)

/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [4]:
beta_df = pd.DataFrame({'Predictor Variables' : predictor_variables, 'Beta':lasso_cv.coef_})
beta_df['Absolute_Beta'] = abs(beta_df['Beta'])
beta_df = beta_df.sort_values('Absolute_Beta', ascending = False)
beta_df = beta_df.reset_index(drop=True)
beta_df = beta_df.set_index('Predictor Variables')

model_col = list(beta_df.index)

In [5]:
kaggle = pd.read_csv('../datasets/test.csv')

In [6]:
kaggle.shape

(879, 80)

The kaggle dataset contains 80 variables.

I am going to clean up the kaggle dataset the same way I cleaned up the train.csv dataset and fit the dataset in the lasso model.

In [7]:
kaggle.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

The column names should not have spaces in them, so as a pythonista, I am going to replace the spaces with underscores.

In [8]:
kaggle.columns = [name.replace(' ','_') for name in kaggle.columns]

In [9]:
kaggle = kaggle.set_index('Id')

In [10]:
kaggle.drop(['PID','Garage_Yr_Blt'], axis = 1, inplace=True)

In [11]:
kaggle.dtypes.sort_values().value_counts()

object     42
int64      33
float64     2
dtype: int64

## Removing Null Values

In [12]:
def null_checker():
    null_vals = kaggle.isnull().sum().sort_values(ascending=False)
    
    null_in_col=[]
    null_dict = {}
    for pos in range(len(null_vals)):
        if null_vals[pos] > 0:
            name = null_vals.index[pos]
            print(f'{name}: {null_vals[pos]}')
            null_in_col.append(null_vals.index[pos])
            null_dict[null_vals.index[pos]+'_mask'] = kaggle[null_vals.index[pos]].isnull()
    
    if len(null_in_col) > 1:
        print(f'\nThere are {len(null_in_col)} predictor variables with null values.')
    elif len(null_in_col) == 1:
        print(f'\nThere is {len(null_in_col)} predictor variable with null values.')
    elif len(null_in_col) == 0:
        print('There are no null values in your dataset. Hooray!')
        
    return null_dict

In [13]:
null_mask = null_checker()

Pool_QC: 875
Misc_Feature: 838
Alley: 821
Fence: 707
Fireplace_Qu: 422
Lot_Frontage: 160
Garage_Finish: 45
Garage_Cond: 45
Garage_Qual: 45
Garage_Type: 44
BsmtFin_Type_2: 25
Bsmt_Exposure: 25
Bsmt_Cond: 25
Bsmt_Qual: 25
BsmtFin_Type_1: 25
Mas_Vnr_Type: 1
Electrical: 1
Mas_Vnr_Area: 1

There are 18 predictor variables with null values.

Starting with the predictor variable that has the lowest number of null values, I will examine each variable's null values and determine how to deal with them.

**Removing Garage Nulls**

In [14]:
garage_nulls_mask = null_mask['Garage_Type_mask'] & null_mask['Garage_Cond_mask'] &null_mask['Garage_Finish_mask'] & null_mask['Garage_Qual_mask']

In [15]:
garage_cols = list(kaggle.iloc[:,kaggle.columns.str.contains('Garage')].columns)

In [16]:
no_garage_house = kaggle[garage_nulls_mask][garage_cols].index

In [17]:
kaggle[garage_nulls_mask][garage_cols].isnull().sum()

Garage_Type      44
Garage_Finish    44
Garage_Cars       0
Garage_Area       0
Garage_Qual      44
Garage_Cond      44
dtype: int64

In [18]:
for house in no_garage_house:
    for col in garage_cols:
        if kaggle[col].dtype == object:
            kaggle.at[house,col] = 'NA'

In [19]:
kaggle[garage_cols].isnull().sum()

Garage_Type      0
Garage_Finish    1
Garage_Cars      0
Garage_Area      0
Garage_Qual      1
Garage_Cond      1
dtype: int64

In [20]:
kaggle[null_mask['Garage_Cond_mask'] &null_mask['Garage_Finish_mask'] & null_mask['Garage_Qual_mask']][garage_cols];

In [21]:
kaggle.at[1357, 'Garage_Qual'] = 'NA'
kaggle.at[1357, 'Garage_Cond'] = 'NA'
kaggle.at[1357, 'Garage_Finish'] = 'NA'

**Removing Basement Nulls**

In [22]:
null_mask = null_checker()

Pool_QC: 875
Misc_Feature: 838
Alley: 821
Fence: 707
Fireplace_Qu: 422
Lot_Frontage: 160
Bsmt_Qual: 25
BsmtFin_Type_1: 25
Bsmt_Exposure: 25
Bsmt_Cond: 25
BsmtFin_Type_2: 25
Electrical: 1
Mas_Vnr_Area: 1
Mas_Vnr_Type: 1

There are 14 predictor variables with null values.

In [23]:
basement_cols = list(kaggle.iloc[:,kaggle.columns.str.contains('Bsmt')].columns)

In [24]:
all_basement_nulls_mask = null_mask['Bsmt_Qual_mask'] &null_mask['BsmtFin_Type_1_mask'] &null_mask['Bsmt_Exposure_mask'] & null_mask['Bsmt_Cond_mask'] & null_mask['BsmtFin_Type_2_mask'] 
no_bsmt = kaggle[all_basement_nulls_mask][basement_cols].index

In [25]:
for house in no_bsmt:
    for col in basement_cols:
        if kaggle[col].dtype == object:
            kaggle.at[house,col] = 'NA'

In [26]:
null_mask = null_checker()

Pool_QC: 875
Misc_Feature: 838
Alley: 821
Fence: 707
Fireplace_Qu: 422
Lot_Frontage: 160
Mas_Vnr_Type: 1
Mas_Vnr_Area: 1
Electrical: 1

There are 9 predictor variables with null values.

**Removing Veneer Nulls**

In [27]:
len(kaggle[null_mask['Mas_Vnr_Area_mask']&null_mask['Mas_Vnr_Type_mask']][['Mas_Vnr_Area','Mas_Vnr_Type']])
kaggle['Mas_Vnr_Type'].unique()
no_masonry_houses = kaggle[null_mask['Mas_Vnr_Area_mask']&null_mask['Mas_Vnr_Type_mask']][['Mas_Vnr_Area','Mas_Vnr_Type']].index

for house in no_masonry_houses:
    kaggle.at[house,'Mas_Vnr_Type'] = 'None'
    kaggle.at[house,'Mas_Vnr_Area'] = 0

In [28]:
null_mask = null_checker()

Pool_QC: 875
Misc_Feature: 838
Alley: 821
Fence: 707
Fireplace_Qu: 422
Lot_Frontage: 160
Electrical: 1

There are 7 predictor variables with null values.

**Removing Electrical Nulls**

There were no Electrical nulls in the train.csv dataset, however, we will impute the null with the dataset's mode.

In [29]:
kaggle['Electrical'].mode()

0    SBrkr
dtype: object

In [30]:
kaggle[null_mask['Electrical_mask']]

,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Alley,Lot_Shape,Land_Contour,Utilities,Lot_Config,...,3Ssn_Porch,Screen_Porch,Pool_Area,Pool_QC,Fence,Misc_Feature,Misc_Val,Mo_Sold,Yr_Sold,Sale_Type
Id,,,,,,,,,,,,,,,,,,,,,
1578,80,RL,73.0,9735,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,0,NaN,NaN,NaN,0,5,2008,WD

In [31]:
kaggle.at[1578,'Electrical'] = kaggle['Electrical'].mode()

In [32]:
null_mask = null_checker()

Pool_QC: 875
Misc_Feature: 838
Alley: 821
Fence: 707
Fireplace_Qu: 422
Lot_Frontage: 160

There are 6 predictor variables with null values.

**Removing Lot Frontage Nulls**

In [33]:
lot_front_mean = kaggle['Lot_Frontage'].mean()

In [34]:
no_lot_frontage_house = kaggle[null_mask['Lot_Frontage_mask']].index

In [35]:
for house in no_lot_frontage_house:
    kaggle.at[house,'Lot_Frontage'] = lot_front_mean

In [36]:
null_mask = null_checker()

Pool_QC: 875
Misc_Feature: 838
Alley: 821
Fence: 707
Fireplace_Qu: 422

There are 5 predictor variables with null values.

**Removing Fireplace Nulls**

In [37]:
kaggle[null_mask['Fireplace_Qu_mask']][['Fireplace_Qu','Fireplaces']].head()

     Fireplace_Qu  Fireplaces
Id
2658          NaN           0
2718          NaN           0
1989          NaN           0
333           NaN           0
1327          NaN           0

In [38]:
print(len(kaggle[kaggle['Fireplaces'] == 0]['Fireplace_Qu']))
print(len(kaggle[null_mask['Fireplace_Qu_mask']]['Fireplaces']))
no_fireplace_houses = kaggle[null_mask['Fireplace_Qu_mask']].index

for house in no_fireplace_houses:
    kaggle.at[house,'Fireplace_Qu'] = 'NA'

422
422

In [39]:
null_mask = null_checker()

Pool_QC: 875
Misc_Feature: 838
Alley: 821
Fence: 707

There are 4 predictor variables with null values.

**Removing Fence Nulls**

In [40]:
no_fence_houses = kaggle[null_mask['Fence_mask']].index

for house in no_fence_houses:
    kaggle.at[house, 'Fence'] = 'NA'

In [41]:
null_mask = null_checker()

Pool_QC: 875
Misc_Feature: 838
Alley: 821

There are 3 predictor variables with null values.

**Removing Alley Nulls**

In [42]:
no_alley_houses = kaggle[null_mask['Alley_mask']].index

for house in no_alley_houses:
    kaggle.at[house, 'Alley'] = 'NA'

**Removing Misc Nulls**

In [43]:
no_misc_houses = kaggle[null_mask['Misc_Feature_mask']].index

for house in no_misc_houses:
    kaggle.at[house, 'Misc_Feature'] = 'NA'

**Removing Pool Nulls**

In [44]:
null_mask = null_checker()

Pool_QC: 875

There is 1 predictor variable with null values.

In [45]:
len(kaggle[(null_mask['Pool_QC_mask']) & (kaggle['Pool_Area'] == 0)])

875

In [46]:
no_pool_houses = kaggle[null_mask['Pool_QC_mask']].index

for house in no_pool_houses:
    kaggle.at[house,'Pool_QC'] = 'NA'

In [47]:
null_mask = null_checker()

There are no null values in your dataset. Hooray!

In [48]:
MS_SubClass_dict = {key:value for key,value in zip(sorted(kaggle['MS_SubClass'].unique()),string.ascii_lowercase)}
kaggle['MS_SubClass'] = kaggle['MS_SubClass'].map(MS_SubClass_dict);
kaggle['MS_SubClass'] = kaggle['MS_SubClass'].astype('object');

In [49]:
kaggle = kaggle.drop('Misc_Val',axis=1)

In [50]:
kaggle.isnull().sum().sum()

0

**Organizing Kaggle Dataset Columns**

In [51]:
kaggle.to_csv('../datasets/kaggle_clean.csv', index = True)

In [52]:
kaggle = pd.read_csv('../datasets/kaggle_clean.csv', keep_default_na=False)

In [53]:
kaggle.dtypes.value_counts()

object     43
int64      32
float64     2
dtype: int64

In [54]:
train_dummies.columns

Index(['Lot_Frontage', 'Lot_Area', 'Overall_Qual', 'Overall_Cond',
       'Year_Built', 'Year_Remod/Add', 'Mas_Vnr_Area', 'BsmtFin_SF_1',
       'BsmtFin_SF_2', 'Bsmt_Unf_SF',
       ...
       'Misc_Feature_TenC', 'Sale_Type_COD', 'Sale_Type_CWD', 'Sale_Type_Con',
       'Sale_Type_ConLD', 'Sale_Type_ConLI', 'Sale_Type_ConLw',
       'Sale_Type_New', 'Sale_Type_Oth', 'Sale_Type_WD '],
      dtype='object', length=317)

In [55]:
kaggle_dummies = pd.get_dummies(kaggle)

In [56]:
kaggle_dummies = kaggle_dummies.set_index('Id')

The following variables are in the `train_dummies` dataframe but not in the `kaggle_dummies` dataframe. As a result, the variables will be added to the `kaggle_dummmies` with values of 0.

In [57]:
set(train_dummies.columns).difference(kaggle_dummies.columns)

{'Bsmt_Cond_Ex',
 'Bsmt_Cond_Po',
 'Condition_2_Artery',
 'Condition_2_RRAe',
 'Condition_2_RRAn',
 'Condition_2_RRNn',
 'Electrical_Mix',
 'Exterior_1st_CBlock',
 'Exterior_1st_ImStucc',
 'Exterior_1st_Stone',
 'Exterior_2nd_Stone',
 'Functional_Sal',
 'Functional_Sev',
 'Garage_Qual_Ex',
 'Heating_OthW',
 'Heating_QC_Po',
 'Heating_Wall',
 'MS_SubClass_p',
 'MS_Zoning_A (agr)',
 'Misc_Feature_Elev',
 'Misc_Feature_TenC',
 'Neighborhood_GrnHill',
 'Neighborhood_Landmrk',
 'Pool_QC_Fa',
 'Pool_QC_Gd',
 'Roof_Matl_ClyTile',
 'Roof_Matl_Membran',
 'SalePrice',
 'Utilities_NoSeWa'}

In [58]:
train_dummies = train_dummies.drop('SalePrice',1)

In [59]:
columns_not_in_kaggle = ['Exterior_1st_ImStucc', 'Functional_Sev', 'Electrical_Mix', 'Exterior_1st_CBlock', 'Roof_Matl_ClyTile', 'Misc_Feature_TenC', 'Bsmt_Cond_Ex', 'Condition_2_RRNn', 'SalePrice', 'MS_SubClass_p', 'Neighborhood_GrnHill', 'Exterior_1st_Stone', 'Utilities_NoSeWa', 'Heating_Wall', 'Bsmt_Cond_Po', 'Garage_Qual_Ex', 'Heating_QC_Po', 'Misc_Feature_Elev', 'Heating_OthW', 'MS_Zoning_A (agr)', 'Condition_2_RRAn', 'Neighborhood_Landmrk', 'Roof_Matl_Membran', 'Condition_2_RRAe', 'Condition_2_Artery', 'Exterior_2nd_Stone', 'Pool_QC_Fa', 'Functional_Sal', 'Pool_QC_Gd', 'MS_SubClass_b', 'MS_SubClass_m', 'MS_SubClass_k', 'MS_SubClass_l', 'MS_SubClass_j', 'MS_SubClass_f', 'MS_SubClass_a', 'MS_SubClass_g', 'MS_SubClass_i', 'MS_SubClass_e', 'MS_SubClass_o', 'MS_SubClass_d', 'MS_SubClass_h', 'MS_SubClass_n', 'MS_SubClass_c'] 
for col in columns_not_in_kaggle:
    kaggle_dummies[col] = 0

I will now remove columns from the `kaggle_dummies` that are not in the `train_dummies` columns because those predictor variables were not included in the lasso model to predict the sale price.

In [60]:
remove_from_kaggle = list(set(kaggle_dummies.columns).difference(train_dummies.columns))

In [61]:
kaggle_dummies = kaggle_dummies.drop(remove_from_kaggle, axis = 1)

Setting the `kaggle_dummies` column order the same as `train_dummies`'s.

In [62]:
kaggle_dummies = kaggle_dummies[train_dummies.columns]

In [63]:
X = kaggle_dummies[model_col]

Scaling the data, inputting the data into the lasso model, and predicting the sale prices based on the `kaggle_dummies` predictor variables.

In [64]:
ss = StandardScaler()
X_sc = ss.fit_transform(X)

predictions = lasso_cv.predict(X_sc)

In [65]:
submission = pd.DataFrame(predictions, index= kaggle_dummies.index, columns=['SalePrice'])
submission.sort_index(inplace=True)

In [66]:
submission.head()

        SalePrice
Id
2   179676.512762
4  -246970.272831
6  -252388.642107
7  -226029.981586
17 -200819.882311

In [67]:
submission.to_csv('../datasets/kaggle_submission.csv')